<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https: //cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-lg navbar-dark bg-primary">*@
        @*<nav class="navbar navbar-expand-lg navbar-light bg-primary" navbar-toggleable-sm  border-bottom box-shadow mb-3">*@
        <nav class="navbar navbar-expand-sm navbar-dark navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color:#3366CC;">

            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Arauca Activa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Desarrollo social</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="ActividadFisica" asp-action="Index"><i class="bi bi-hdd-fill"></i>Actividad física</a></li>
                                <li><a class="dropdown-item" asp-controller="Cultura" asp-action="Index"><i class="bi bi-puzzle-fill"></i>Cultura</a></li>
                                <li><a class="dropdown-item" asp-controller="Deporte" asp-action="Index"><i class="bi bi-pentagon-fill"></i>Deporte</a></li>
                                <li><a class="dropdown-item" asp-controller="Educacion" asp-action="Index"><i class="bi bi-safe-fill"></i> Educación</a></li>
                                <li><a class="dropdown-item" asp-controller="Recreacio" asp-action="Index"><i class="bi bi-life-preserver"></i>Recreación</a></li>
                                <li><a class="dropdown-item" asp-controller="Salud" asp-action="Indix"><i class="bi bi-square-fill"></i> Salud y Protección social</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Crecimiento económico</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Sector privado</a></li>
                                <li><a class="dropdown-item" href="#">Comerciantes</a></li>
                                <li><a class="dropdown-item" href="#">Ganaderos</a></li>
                                <li><a class="dropdown-item" href="#">Productores agropecuarios</a></li>
                                <li><a class="dropdown-item" href="#">Pequeños y medianos empresarios</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Arauca verde</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Ambiente y Desarrollo Sostenible</a></li>
                                <li><a class="dropdown-item" href="#">Gobierno Territorial - Atención a Desastres</a></li>
                            </ul>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Infraestructura</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Transporte</a></li>
                                <li><a class="dropdown-item" href="#">Minas y Energía</a></li>
                                <li><a class="dropdown-item" href="#">Vivienda</a></li>
                            </ul>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Buen gobierno</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Información Estadística</a></li>
                                <li><a class="dropdown-item" href="#">Gobierno Territorial</a></li>
                                <li><a class="dropdown-item" href="#">Tecnologías de la Información y las Comunicaciones</a></li>
                                <li><a class="dropdown-item" href="#">Vivienda</a></li>
                            </ul>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Seguridad</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Justicia y del Derecho</a></li>
                                <li><a class="dropdown-item" href="#">Inclusión social</a></li>
                                <li><a class="dropdown-item" href="#">Gobierno Territorial</a></li>
                                <li><a class="dropdown-item" href="#">Vivienda</a></li>
                            </ul>

                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">

                                <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Gestion</a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Administrador"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="GroupCommunities" asp-action="Index">Grupo Comunitario</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="GroupProductives" asp-action="Index">Grupo productivos</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="SocialNetworks" asp-action="Index">Redes Sociales</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Professions" asp-action="Index">Profesiones</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="PqrsCategories" asp-action="Index">Categorias PQRS</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="ApplicationUsers" asp-action="Index">Usuarios cambio de rol</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="PqrsUserStrategicLines" asp-action="Index">Asignación de Usuarios a lineas</a></li>

                                    }
                                    @if (User.IsInRole("Usuario"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Pqrs" asp-action="Index">P.Q.R.S</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Affiliates" asp-action="Index">Afiliados</a></li>
                                    }
                                    @if (User.IsInRole("Publicador"))
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Pqrs" asp-action="IndexAnswer">P.Q.R.S respuestass</a></li>
                                    }
                                </ul>

                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">*@
    <footer class="border-top footer text-center" style="background-color:#3366CC;">
        <div class="container">
            &copy; 2021 - AlcaldiaAraucaPortalWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/js/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
