<link href="~/css/MyStil.css" rel="stylesheet" />
<div id="socialBar" class="social-bar">
    <a href="https://www.facebook.com/AraucActiva-111351121142021/" id="bifacebook" class="bi bi-facebook" target="_blank"></a>
    <a href="https://vm.tiktok.com/ZMLRNB1Tj/" id="bitiktok" class="bi bi-tiktok" target="_blank"></a>
    <a href="https://www.instagram.com/_araucactiva/?hl=es-la" id="biinstagram" class="bi bi-instagram" target="_blank"></a>
    <a href="https://youtube.com/channel/UCjUeFSF_6kLpHFIai4gd86Q" id="biyoutube" class="bi bi-youtube" target="_blank"></a>
</div>