<link href="~/css/MyStyle2.css" rel="stylesheet" />

<div id="socialsub" class="social-sub">
    <a asp-controller="Search" asp-action="Index" id="search" class="bi bi-search">  B u s c a r    </a>
    <a asp-controller="Subscribers" asp-action="Index" id="personcircle" class="bi bi-person-circle">  Subscribirse </a>
    <a href="#victorModal" role="button" data-toggle="modal" id="pqrs" class="bi bi-question-square-fill">   P. Q. R. S.    </a>
    <a href="https://www.arauca-arauca.gov.co/Paginas/default.aspx" id="AlcaldiaApp" class="bi bi-easel3" target="_blank"> Web Alcaldía</a>


</div>

<!-- Modal -->
<div id="victorModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensajes del sistemas</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">

                <p class="text-warning"><small>Mensaje del sistema de información</small></p>
                <hr />
                <p>Ciudadano/a tenga en cuenta que la información a registrar en el siguiente formulario se encuentra protegida bajo la Ley del Habeas data -Ley 1581 de 2012, Decreto1377 de 2013- si quiere conocer más sobre esta ley de click:</p>
            </div>
            <div class="modal-footer">
                <a href="https://www.arauca-arauca.gov.co/Ciudadanos/Paginas/PQRD-Identificacion.aspx" class="mr-auto" target="_blank">PQRD con identificación</a>
                <a href="https://www.arauca-arauca.gov.co/Ciudadanos/Paginas/PQRD-Anonima.aspx" target="_blank">PQRD anónima</a>

            </div>
        </div>
    </div>
</div>
