@{
    ViewData["Title"] = "Confirmación de Email";
}

<h2>Confirmación de subscripción</h2>
<div>
    <p><strong>Gracias por confirmar su cuenta. Ya está susbcrito(a).</strong></p>
    <p>en nuestro portal y recibirá las últimas noticias</p>
</div>