
@{
    ViewData["Title"] = "Create";
}

<h4>Mapa del sitio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <ul>
            <li>
                Con Desarrollo social incluyente
                <ul>
                    <li><a asp-controller="LineStrategic" asp-action="Cultura">Cultura</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="Deporte">Deporte</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="Educacion">Educación</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="InclusionSocial">Inclusión Social</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="SaludyProteccion">Salud y Protección social</a></li>
                </ul>
            </li>
            <li>
                Con crecimineto económico
                <ul>
                    <li><a asp-controller="LineStrategic" asp-action="AgriculturaDesarrolloRural">Agricultura y Desarrollo Rural</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="CienciaTecnologiaInnovacion">Ciencia, Tecnología e Innovación</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="ComercionIndustriaTurismo">Comercio, Industria y Turismo</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="Trabajo">Trabajo</a></li>
                </ul>
            </li>
            <li>
                Con un arauca verde, ordenada y sostenible
                <ul>
                    <li><a asp-controller="LineStrategic" asp-action="AmbienteyDesarrolloSostenible">Ambiente y Desarrollo Sostenible</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="AtencionDesastre">Gobierno Territorial - Atención a Desastres</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>
                Con infraestructura social y productiva
                <ul>
                    <li><a asp-controller="LineStrategic" asp-action="MinasyEnergia">Minas y Energía</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="Transporte">Transporte</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="ViviendaInfra">Vivienda</a></li>
                </ul>
            </li>
            <li>
                Con buen gobierno
                <ul>
                    <li><a asp-controller="LineStrategic" asp-action="BuenGobiernoTerritorial">Gobierno Territorial</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="InformacionEstadistica">Información Estadística</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="Tecnologia">Tecnologías de la Información y las Comunicaciones</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="ViviendaBuen">Vivienda</a></li>
                </ul>
            </li>
            <li>
                Con seguridad convivencia y justicia
                <ul>
                    <li><a asp-controller="LineStrategic" asp-action="GobiernoTerritorial">Gobierno Territorial</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="InclusionSocial2">Inclusión social</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="JusticiaDerecho">Justicia y del Derecho</a></li>
                    <li><a asp-controller="LineStrategic" asp-action="ViviendaSeguridad">Vivienda</a></li>

                </ul>
            </li>

        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>
                Peticiones, quejas, reclamos y solicitudes
                <ul>
                    <li>
                        <a href="#victorModal" role="button" data-toggle="modal">P.Q.R.S</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div id="victorModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensajes del sistemas</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">

                <p class="text-warning"><small>Mensaje del sistema de información</small></p>
                <hr />
                <p>Ciudadano/a tenga en cuenta que la información a registrar en el siguiente formulario se encuentra protegida bajo la Ley del Habeas data -Ley 1581 de 2012, Decreto1377 de 2013- si quiere conocer más sobre esta ley de click:</p>
            </div>
            <div class="modal-footer">
                <a href="https://www.arauca-arauca.gov.co/Ciudadanos/Paginas/PQRD-Identificacion.aspx" class="mr-auto" target="_blank">PQRD con identificación</a>
                <a href="https://www.arauca-arauca.gov.co/Ciudadanos/Paginas/PQRD-Anonima.aspx" target="_blank">PQRD anónima</a>

            </div>
        </div>
    </div>
</div>