@model AlcaldiaAraucaPortalWeb.Data.Entities.Gene.SocialNetwork

@{
    ViewData["Title"] = "Crear";
}

<h1>Nueva</h1>

<h4>Red social</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StateId" />
            <div class="form-group">
                <label asp-for="SocialNetworkName" class="control-label"></label>
                <input asp-for="SocialNetworkName" class="form-control" />
                <span asp-validation-for="SocialNetworkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-save-fill"></i>Guardar</button> |
                <a asp-action="Index" class="btn btn-sm btn-success"><i class="bi bi-chevron-double-left"></i>Retornar</a>
            </div>
        </form>
    </div>
</div>

