@model AlcaldiaAraucaPortalWeb.Data.Entities.Gene.PqrsAttachments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PqrsAttachments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PqrsAttachmentId" />
            <div class="form-group">
                <label asp-for="PqrsId" class="control-label"></label>
                <select asp-for="PqrsId" class="form-control" asp-items="ViewBag.PqrsId"></select>
                <span asp-validation-for="PqrsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PqrsAttachmentsPath" class="control-label"></label>
                <input asp-for="PqrsAttachmentsPath" class="form-control" />
                <span asp-validation-for="PqrsAttachmentsPath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PqrSend" /> @Html.DisplayNameFor(model => model.PqrSend)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
