@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo electrónico confirmado";
}

<h1>@ViewData["Title"]</h1>
<h2>"Su registro esta realizado y tiene una cuenta en Araucactiva.com"</h2>
<h2>"Puede modificar su perfil al hacer clic sobre su correo."</h2>
<h2>"Seleccione Registrarse - menu Gestión - opción Afiliado"</h2>
<h2>"Y actualice sus datos respectivos."</h2>
<h2>"Ya puede realizar PQRS (Peticiones, Quejas, Reclamos y Sugerencias)"</h2>
<h2>"Asi como Propuestas detalladas"</h2>