@model AlcaldiaAraucaPortalWeb.Data.Entities.Gene.PqrsTraceability

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PqrsTraceability</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PqrsTraceabilityId" />
            <div class="form-group">
                <label asp-for="PqrsId" class="control-label"></label>
                <select asp-for="PqrsId" class="form-control" asp-items="ViewBag.PqrsId"></select>
                <span asp-validation-for="PqrsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PqrsUserStrategicLineId" class="control-label"></label>
                <select asp-for="PqrsUserStrategicLineId" class="form-control" asp-items="ViewBag.PqrsUserStrategicLineId"></select>
                <span asp-validation-for="PqrsUserStrategicLineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PqrsTraceabilityDate" class="control-label"></label>
                <input asp-for="PqrsTraceabilityDate" class="form-control" />
                <span asp-validation-for="PqrsTraceabilityDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PqrsUserStrategicLine.PqrsStrategicLineId" class="control-label"></label>
                <select asp-for="PqrsUserStrategicLine.PqrsStrategicLineId" class="form-control" asp-items="ViewBag.PqrsStrategicLineId"></select>
                <span asp-validation-for="PqrsUserStrategicLine.PqrsStrategicLineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
