
@{
    ViewData["Title"] = "Educacion";
}

<h1>Educacion</h1>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Noto Sans', sans-serif
    }

    html,
    body {
        height: 100%
    }

    body {
        display: grid;
        place-items: center;
        background: #afd275;
    }

    .card {
        height: 400px;
        width: 300px;
        border-radius: 20px;
        background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
        /*box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;*/
        box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        border: none
    }

        .card img {
            border-radius: 50%;
            /*background: linear-gradient(145deg, #d6d6d6, #ffffff);*/
            background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
            /*box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff*/
            box-shadow: -8px 8px 12px 0 rgba(0, 0, 0, 0.3), 12px -12px 16px rgba(255, 255, 255, 0.25);
        }

    .view-button {
        width: 200px;
        height: 40px;
        outline: 0 !important;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
        border: none;
        margin-right: 10px;
        border-radius: 4px;
        /*background: linear-gradient(145deg, #d6d6d6, #ffffff);*/
        background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
        /*box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff*/
        box-shadow: -8px -8px 12px 0 rgba(0, 0, 0, 0.3), 12px 12px 16px rgba(255, 255, 255, 0.25);
    }

        .view-button:active {
            border-radius: 4px;
            /*background: linear-gradient(145deg, #d6d6d6, #ffffff);*/
            background: linear-gradient(-45deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
            /*box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff*/
            box-shadow: -8px -8px 12px 0 rgba(0, 0, 0, 0.3), 12px 12px 16px rgba(255, 255, 255, 0.25);
        }
</style>

<div class="container d-flex justify-content-center">


    <div class="card p-3 py-4 mt-5 mb-5">
        <div class="text-center">
            <img src="https://images.pexels.com/photos/2787341/pexels-photo-2787341.jpeg" width="100" class="rounded-circle">
            <h3 class="mt-2">Radhika Menon</h3> <span class="mt-1 clearfix">Software Developer</span> <small class="mt-4">I am a Software Developer working at Microsoft Inc at Silicon,USA</small>
            <div class="button mt-5">
                <button class="view-button"> View More</button>
            </div>
        </div>
    </div>

    <div class="card p-3 py-4 mt-5 mb-5">
        <div class="text-center">
            <img src="https://images.pexels.com/photos/2787341/pexels-photo-2787341.jpeg" width="100" class="rounded-circle">
            <h3 class="mt-2">Radhika Menon</h3> <span class="mt-1 clearfix">Software Developer</span> <small class="mt-4">I am a Software Developer working at Microsoft Inc at Silicon,USA</small>
            <div class="button mt-5">
                <button class="view-button"> View More</button>
            </div>
        </div>
    </div>
    <div class="card p-3 py-4 mt-5 mb-5">
        <div class="text-center">
            <img src="https://images.pexels.com/photos/2787341/pexels-photo-2787341.jpeg" width="100" class="rounded-circle">
            <h3 class="mt-2">Radhika Menon</h3> <span class="mt-1 clearfix">Software Developer</span> <small class="mt-4">I am a Software Developer working at Microsoft Inc at Silicon,USA</small>
            <div class="button mt-5">
                <button class="view-button"> View More</button>
            </div>
        </div>
    </div>
    <div class="card p-3 py-4 mt-5 mb-5">
        <div class="text-center">
            <img src="https://images.pexels.com/photos/2787341/pexels-photo-2787341.jpeg" width="100" class="rounded-circle">
            <h3 class="mt-2">Radhika Menon</h3> <span class="mt-1 clearfix">Software Developer</span> <small class="mt-4">I am a Software Developer working at Microsoft Inc at Silicon,USA</small>
            <div class="button mt-5">
                <button class="view-button"> View More</button>
            </div>
        </div>
    </div>
</div>
