@model AlcaldiaAraucaPortalWeb.Models.ModelsViewGene.SearcheViewModel

@{
    ViewData["Title"] = "Buqueda";
}

<section class="vh-100" style="background-color: #3366CC">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Buscar</h3>
            <form asp-action="Index">
                <div class="form-outline mb-4">
                  <input asp-for="Search" class="form-control form-control-lg" />
                </div>
                <button type="submit" class="btn btn-sm btn-primary" ><i class="bi bi-search"></i> </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
